@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Pacifico&family=Rubik:wght@500&display=swap');       
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');       
/* 
font-family: 'Rubik', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'PT Serif', serif;
*/
        .navbar{
            
            
        }
       
           
        body{
            padding: 0;
            margin: 0;
        }

        
        .Aboutus-img{
            height: 400px;
            width:100%;
            position:relative;
           
            
        }

        .event-container{
    
            height: 580px;
            background-color:antiquewhite;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 100px;
            
        }

        .event-img{
        
            border-radius: 20px;
            display: flex;
            flex-direction: row;
        }

        .event1-img{
            background-image:url(../images/about-img/party-img.webp);
            background-size: cover;
            height: 400px;
            width: 300px;
            border-radius: 20px;
            margin-left: 20px;
            margin-top: 90px;
        }

        .event2-img{
            background-image:url(../images/about-img/beautiful-event-at-night.jpg);
            background-size: cover;
            height: 300px;
            width: 200px;
            border-radius: 20px;
            margin: 135px 0px 0px -90px  ;
           
        }
        .About-description{
            width: 600px;
           
            
        }




        .Heading{
            margin-right: 300px;
            text-align: right ;
            font-size:xx-large;
            font-weight: bold;
            margin-left: 50px;
            font-family: 'Rubik', sans-serif;
            
        }

       

        .Organization-name{

            font-size:x-large;
            font-family:'Pacifico', cursive;
            

        }
        .paragraph{
            text-align: center;
            text-wrap: wrap;
            padding-right: 20px;
            font-family: 'Rubik', sans-serif;
            
        }
        .box-container{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 500px;
        }

        .box{
            height:135px;
            width:150px;
            background-color:bisque;
            text-align: center;
            align-items: center;
            font-weight: bold;
            border-radius: 10px;
            border:2px solid rgb(252, 209, 157);
            padding: 10px;
            
        }
        .medal-img{
            height: 40px;

        }

        .ten-heading{
            font-size:large;
            font-weight:800;
            font-family: 'Rubik', sans-serif;
        }
        .list{
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
        }

        .btn{
            height: 40px;
            width:120px;
           
             
            font-weight: bold;
           margin-left: 50%;
           margin-right: 50%;
            font-size:medium;

            background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
            
            padding: 10px 20px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            /* box-shadow: 0 0 20px #eee; */
            border-radius: 10px;
            display: block;
            border: #eee;
           

           

        }
        .btn:hover{
            cursor: pointer;
            background-color: white;
            border-radius: 10px  5px 10px 5px ;
            color: black;
            box-shadow: 2px 2px 2px 2px blueviolet ;
        }

        .btn-1{
            /* height: 40px;
            width:100px;
            border-radius: 10px  5px 10px 5px ;
            background-color:black;
            color: white;
            font-weight: bold; */
           margin: auto;
            

            background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
            
            padding: 15px 30px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            /* box-shadow: 0 0 20px #eee; */
            border-radius: 10px;
            display: block;
            border: #eee;
           
        }
        .btn-1:hover{
            cursor: pointer;
            /* background-color: white;
            border-radius: 10px  5px 10px 5px ;
            color: black;
            box-shadow: 2px 2px 2px 2px blueviolet ; */

            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
        }
        
        
        

        .card-container{
           
            width: 90%;
           margin-left:70px;
          display: flex;
         flex-wrap: wrap;
          flex-direction: row;
          justify-content: center;
              
        }

        .cards{
            background-color: #cd96f0;
            height: 230px;
            width: 200px;
            margin: 10px;
            padding: 10px;   
            border-radius: 10px;       
        }
         .cards:hover{
            background-color: rgb(190, 188, 250);
            box-shadow: 2px 2px 5px 5px rgb(204, 201, 252);
            cursor: pointer;
         }

        .card-container-heading{
            text-align: center;
            font-weight: bold;
            margin-top: 40px;
            font-family: 'Rubik', sans-serif;
            
        
        }

        .dp-img{
            display: block;
            margin-right: auto;
            margin-left: auto;
            height:100px;
            width:80px;
            border-radius: 20px;
            background-size: cover;
            
        }

        .footer{
            background-color: aqua;
            height: 300px;
            
            display: flex;
            flex-direction: row;
        }

        .footer-img{
            height: 30px;
            width: 30px;
        }

        .footer-logo{
            background-color: aquamarine;
            height: 100px;
            width:120px;
        }
        .dp-desc{
            text-align: center;
            font-family: 'PT Serif', serif;

        }

    