@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Rubik&display=swap');

/* font-family: 'Rubik', sans-serif; */

color{
    background-color: rgb(245, 238, 229);
    background-color: antiquewhite;
    background-color: #9e23eb;
    background-color: #cd96f0;
    color: #a82ef2;
    color: aliceblue;
}



body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

.btn{
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    display: block;
    border: #eee;
    margin-top: 19px;
    box-sizing: border-box;
}

.btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.wedding-page{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.wedding-page img{
    width: 100%;
    height: 660px;
    z-index: -2;
}
.wedding-description{
    width: 700px;
    color: white;
    position: absolute;
    top: 140px;
    left: 120px;
    z-index: -1;
}
.wedding-description h1{
    font-size: 50px;
}
.wedding-description p{
    font-size: 20px;  
    font-weight: bold; 
}

.heading{
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: purple;
    text-decoration: underline;
    text-decoration-color: orangered;
    text-underline-offset: 10px;
    font-size: 45px;
}

/* blog css start from here */
.blogs{
    background-color: #e4cef2;
    padding: 40px 0px;
    /* background: linear-gradient(#652761,#8F4787,#BC86B9); */
    /* color: bisque; */
}
.blog-1{
    margin: 60px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.blog-img-left{
    box-sizing: border-box;
    background-color: #5b1f57;
    width: 590px;
    height: 360px;
    /* border: 4px solid bisque; */
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
}
.blog-img-left img{
    border: 6px solid white;
    border-radius: 10px;
    width: 510px;
    height: 290px;
}
.blog-description-left{
    width: 600px;
    font-size: 18px;
    margin-right: 100px;
}
.blog-img-right{
    box-sizing: border-box;
    background-color: #5b1f57;
    width: 590px;
    height: 360px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
}
.blog-img-right img{
    border-radius: 10px;
    width: 510px;
    height: 290px;
}
.blog-description-right{
    width: 600px;
    margin-left: 100px;
    font-size: 18px;
}
.blog-1 img:hover{
    width: 510px;
    height: 310px;
}


/* feature vendor css start from here */
.features-vendor{
    
    height: 560px;
    margin-top: 60px;
    /* background: linear-gradient(#652761,#8F4787,#BC86B9); */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   
    background-image: url(./../images/wedding-img/vendore-back4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.vendor-card{
    border: 4px solid white;
    position: relative;
    width: 300px;
    height: 200px;
    margin: 90px 15px;
}
.vendor-card img{
    width: 300px;
    height: 200px;
}
.vendore-card-description{
    width: 250px;
    height: 150px;
    background-color: white;
    position: absolute;
    bottom: -120px;
    left: 25px;
    text-align: center;
    color: #3c0d3c;
    box-shadow: 0px 0px 8px 2px;
}
.vendore-card-description:hover{
    padding: 5px;
    margin-left: -5px;
}
.more-details-btn{
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
    margin: 10px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    display: block;
    margin: auto;
    border: #eee;
    margin-top: 18px;
    font-size: 10px;
}
.more-details-btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.destination-venue{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.venue-card{
    position: relative;
    width: 380px;
    height: 260px;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
}
.venue-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.venue-card p{
    font-size: 20px;
    font-weight: bold;
}
.venue-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: bisque;
    background-color: rgba(46, 39, 40, 0.4);
    transform: scale(1,3);
    opacity: 0;
    transition: 0.5s ease;
}
.venue-card:hover .venue-info{
    transform: scale(1);
    opacity: 1;
}
.venue-info h2{
    font-size: 40px;
}


.wedding-banner{
    position: relative;
    margin-top: 50px;
}
.wedding-banner img{
    width: 100%;
    height: 280px;
}
.wedding-banner h2{
    font-size: 40px;
    color: white;
    position: absolute;
    top: 80px;
    left: 300px;
}
.book-event{
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    display: block;
    border: #eee;
    margin-top: 19px;
   
    position: absolute;
    top: 180px;
    left: 680px;
}
.book-event:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.event-card{
    width: 350px;
    height: 250px;
}
.event-card img{
    width: 350px;
    height: 250px;
    
}



@media only screen and (max-width: 992px){
    .wedding-description h1{
        font-size: 45px;
    }

     .blogs{
        padding: 40px 0px;      
    }
    .blog-1{
        border: 4px solid red;
    }
    .blog-img-left{      
        width: 420px;
        height: 290px;   
    }
    .blog-img-left img{
        width: 350px;
        height: 230px;
    }
    .blog-description-right{
        width: 400px;
        font-size: 18px;
        margin-right: 100px;
    }
    .blog-img-right{      
        width: 420px;
        height: 290px;   
    }
    .blog-img-right img{
        width: 350px;
        height: 230px;
    }
    .blog-description-right{
        width: 400px;
        font-size: 18px;
        margin-right: 100px;
    }
    

    
}


@media only screen and (max-width: 768px){


}
@media only screen and (max-width: 576px){
    .wedding-description{
        width: 100%px;
       text-align: center;
    }
    .wedding-page img{
        width: 100%;
        height: 660px;
       
    }
    .blog-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .blog-img-left{      
       margin-right: 100px;
       width: 490px;
       height: 340px;   
    }
    .blog-img-left img{
        display: block;
        margin: auto;
        width: 400px;
        height: 250px;
    }
    
}